version: '3.9'
services:
  mamba-jupyter:
    build:
      context: .
      dockerfile: Dockerfile.ubuntu
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/app/notebooks
    environment:
      - JUPYTER_TOKEN=mobamba

  mamba-conda:
    build:
      context: .
      dockerfile: Dockerfile.conda
    volumes:
      - ./data-science.yml:/app/data-science.yml 
    environment:
      - MY_ENV_VAR=some_value 
